@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">

    <div>
        <h1>Bienvenido</h1>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="d-flex justify-content-center">
                <a href="Admin/ListaProductos"><img src="~/img/Admin/caja.png" class="image" height="200" /></a>
            </div>
            <div class="d-flex justify-content-center">
                <a href="Admin/ListaProductos"><h3>Lista de productos</h3></a>
            </div>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-center">
                <a href="Admin/RegistrarProducto"><img src="~/img/Admin/caja-de-entrega.png" class="image" height="200" /></a>
            </div>
            <div class="d-flex justify-content-center">
                <a href="Admin/RegistrarProducto"><h3>Registrar productos</h3></a>
            </div>

        </div>
        

    </div>


</div>