@model GrupoLogin.DATA.Model.DTOS.UsuarioDTO
@{
    Layout = null;

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/LoginRegister/indexRegistro.css" />

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Login-Registro</title>
</head>

<body>
    <div class="container">
        <div class="forms-container">
            <div class="login-registro">

                <form asp-controller="Usuario" asp-action="Login" method="post" class="form-login">
                    <h2 class="titulo">Login</h2>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="text" asp-for="Email" id="" placeholder="Email">
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        @*                        <input type="password" asp-for="Password" id="" placeholder="Contraseña">*@
                        
                        <button type="button" onclick="location.href='@Url.Action("Index", "Admin")'" class="btn solid">Ir a home admin </button>

                         
                    </div>
                    <input type="submit" value="Login" class="btn solid">
                    <p class="social-text">O inicia sesion con:</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </form>


                <form action="" class="form-registro">
                    <h2 class="titulo">Registrate</h2>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="text" name="" id="" placeholder="Email">
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="" id="" placeholder="Contraseña">
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="" id="" placeholder="Repite Contraseña">
                    </div>
                    <input type="submit" value="Registrate" class="btn solid">
                    <p class="social-text">O registrate con </p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </form>

            </div>
        </div>


        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Sos nuevo por aca?</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam, harum voluptatibus, repellat tempora numquam perspiciatis modi dolor </p>
                    <button class="btn transparent" id="registrate-btn">Registrate</button>
                </div>

                <img src="~/img/LoginRegister/stock.svg" class="image">
            </div>

            <div class="panel right-panel">
                <div class="content">
                    <h3>Ya estas registrado?</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam, harum voluptatibus, repellat tempora numquam perspiciatis modi dolor </p>
                    <button class="btn transparent" id="login-btn">Logueate</button>
                </div>

                <img src="~/img/LoginRegister/stock2.svg" class="image">
            </div>
        </div>


    </div>

    <script src="~/js/LoginRegister/indexRegistro.js"></script>

</body>

</html>
