@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Home/index.css" />

@*@{
    Layout = "_LayoutHome";

}*@

<div class="container mt-5">
   <div class="text-center">
        <h1> Grupo Login </h1>
   </div>    

   <div class="d-flex justify-content-center my-5">
        <button type="button" onclick="location.href='@Url.Action("LoginRegister", "Usuario")'" class="btn solid">Ir al login </button>
   </div>

</div>