@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Home/index.css" />


<div class="container mt-5">
     @if(@TempData["Mensaje"] != null)
     {
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <h5>@TempData["Mensaje"]</h5>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    }
   <div class="text-center">
        <h1> Grupo Login </h1>
   </div>    
    @if (User.Identity.IsAuthenticated)
    {
        <div class="d-flex justify-content-center my-5">
            <button type="button" onclick="location.href='@Url.Action("ListaProductos", "Producto")'" class="btn solid">Ver producto</button>
        </div>
    }
    else
    {
    <div class="d-flex justify-content-center my-5">
        <button type="button" onclick="location.href='@Url.Action("SignIn", "Account")'" class="btn solid">Ir al login</button>
    </div>       
    }

</div>
